.minesweeper {
  $cellSize: 40px;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  &-cell {
    --bg-orientation: 45deg;
    width: $cellSize;
    height: $cellSize;
    line-height: $cellSize;
    text-align: center;
    background-image: radial-gradient(white, rgb(235, 235, 245));

    &[data-covered="1"] {
      background-image: linear-gradient(var(--bg-orientation), hsl(200, 80%, 20%), rgb(245, 245, 245));

      &:hover {
        --bg-orientation: 225deg;
      }
    }

    &[data-flagged="1"] {
      background: green;
    }
  }
}
