.password-generator {
  height: 100%;
  --top-height: 100px;

  &__top {
    height: var(--top-height);

    output {
      display: block;
      text-align: center;
      height: 100%;
      line-height: var(--top-height);
      font-size: 1.25rem;
      background-color: #222;
      color: limegreen;
    }
  }

  &__bottom {
    height: calc(100% - var(--top-height));
    padding: 1em;
    display: grid;
    place-items: center;
  }

  &-form {
    max-width: 600px;
    padding: 0.8em;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8em;
    background-color: rgba(24, 24, 24, 0.9);
  }

  &-length-inputs {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 5fr;

    input {
      width: 100%;
    }
  }

  &-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      color: white;
      text-transform: capitalize;
    }
  }
}