.page {
  height: 100%;
  max-width: var(--max-page-width);
  margin: 0 auto;
  padding: calc(var(--gap) * 4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  h2 {
    background-color: $clr_green_light;
    color: white;
    text-align: center;
    margin-bottom: calc(var(--gap) * 2);
    padding: var(--gap);
  }

  > section + section {
    margin-top: calc(var(--gap) * 6);
  }

  &.page-lighter {
    color: $clr_lighter;
  }
}
