@mixin bg-center-100 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@mixin bg-center-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
