.btn {
  font-family: inherit;
  text-align: center;
  font-size: 1rem;
  padding: calc(var(--gap) * 1.5) calc(var(--gap) * 3);
  border: 0;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  user-select: none;
  transition-property: scale;
  transition-duration: 200ms;

  &:active {
    scale: 0.985;
  }

  &-primary {
    background-color: $clr_green_light;

    &:hover,
    &:focus {
      background-image: radial-gradient(darken($clr_green_light, 5%), $clr_green_light);
    }
  }
}
