.bg-primary {
  background-color: $clr_green_lighter;
}

.bg-primary-gradient {
  background-color: $clr_green_lighter;
  background-image: linear-gradient(to right, $clr_green_lighter, $clr_green_light);
}

.bg-primary-transparent {
  background-color: rgba($clr_green_lighter, 0.5);
}

.bg-secondary {
  background-color: $clr_blue_light;
}

.bg-secondary-gradient {
  background-color: $clr_blue_light;
  background-image: linear-gradient(to right, $clr_blue_lighter, $clr_blue_light);
}

.bg-secondary-transparent {
  background-color: rgba($clr_blue_light, 0.5);
}

.bg-dark-transparent {
  background-color: rgba($clr_dark, 0.775);
}

.bg-light {
  background-color: rgb(239, 245, 245);
}

.bg-transparent {
  background-color: transparent;
}

.text-light {
  color: white;
}
