@media only screen and (orientation: portrait) {
  .justify-content-center-portrait {
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --gap: 0.2em;
  }
}

@media only screen and (max-width: 520px) {
  .alert-box {
    form {
      width: 80%;
    }
  }
}
