.page {
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: calc(var(--gap) * 4);

  h2 {
    background-color: $clr_green_light;
    color: white;
    text-align: center;
    margin-bottom: calc(var(--gap) * 2);
    padding: var(--gap);
  }

  > section + section {
    margin-top: calc(var(--gap) * 6);
  }

  &.page-center {
    display: flex;
    flex-flow: column nowrap;
  }
}
