.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-underline-hover:hover {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}
