$clr_green_light: rgb(23, 145, 75);
$clr_green_lighter: rgb(23, 145, 36);
$clr_green_dark: rgb(9, 67, 69);
$clr_green_darker: rgb(16, 51, 16);
$clr_blue_light: rgb(9, 82, 241);
$clr_blue_lighter: rgb(9, 102, 241);
$clr_yellow: gold;
