@import "variables";

:root {
  --gap: 0.2em;
  --max-page-width: 700px;
  background-color: white;
  font-size: 12px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  max-width: 100vw;
  font-family: $ff_primary;
  display: grid;
  grid-template-rows: auto 1fr;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgb(0, 0, 0, 0.85), rgb(0, 0, 0, 0.85)), url("/img/bg-main.jpg");
}

main {
  overflow-y: auto;
  display: grid;
}

input,
textarea {
  font-size: inherit;
}

textarea {
  font-family: inherit;
}

@import "size";
@import "gap";
@import "font";
@import "text";
@import "flex";
@import "grid";
@import "color";
@import "display";
@import "overflow";
@import "background";
@import "page";
@import "table";
@import "btn";
@import "form";
@import "list";
@import "media";
