@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400&display=swap&family=Orbitron:wght@400;700&display=swap");

:root {
  --gap: 0.2em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-family: Lato, Montserrat, "Noto Sans", Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-flow: column nowrap;
}

main {
  height: 100%;
}

input,
textarea {
  font-size: inherit;
}

textarea {
  font-family: inherit;
}

@import "variables";
@import "size";
@import "gap";
@import "font";
@import "text";
@import "flex";
@import "grid";
@import "color";
@import "display";
@import "background";
@import "page";
@import "table";
@import "btn";
@import "form";
@import "list";
@import "media";
