.contactForm {
  width: min(600px, 90vw);
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--gap) * 3);
  padding: calc(var(--gap) * 3);
  border-radius: 5px;
  @include mixins.bg-secondary-transparent;
  @include mixins.text-light;
}
