@use "@styles/mixins" as mixins;

.contactForm {
  width: min(var(--max-page-width), 90vw);
  display: flex;
  flex-flow: column nowrap;
  border-radius: 5px;
  @include mixins.gap(3);
  @include mixins.padding(3);
  @include mixins.bg-secondary-transparent;
  @include mixins.text-light;
}
