.passwordGenerator {
  width: 100%;
  max-width: var(--max-page-width);
  font-size: 1.1rem;
  overflow: hidden;
  @include border-rounded;

  input {
    &[type="number"] {
      @include full-size;
    }
  }
}
