.password-generator {
  width: 100%;
  max-width: 700px;
  font-size: 1.1em;

  &__top {
    background-color: #222;
    color: limegreen;

    output {
      font-family: "Courier New", Courier, monospace;
    }
  }

  &__bottom {
    background-color: rgba(24, 24, 24, 0.85);
  }
}
