.dropdown {
  height: 100%;
  width: 100%;
  position: relative;

  summary {
    display: flex;
    align-items: center;

    &::marker {
      content: "";
      display: none;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      margin-inline-start: 0.5em;
      background-color: vars.$clr_green_light;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      rotate: -90deg;
      transition: rotate 150ms ease-out;
    }
  }

  &[open=""] {
    summary::after {
      rotate: 0deg;
    }
  }

  &Content {
    z-index: 1;
    position: absolute;
    top: calc(100% + 0.5em);
    border: 1px solid blue;
    border-radius: 4px;
  }
}
