.dropdown {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;

  &-list {
    overflow: hidden;
    list-style: none;
    position: absolute;
    top: 100%;
    width: max-content;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: white;
    z-index: 1;

    li {
      color: black;
      overflow: hidden;

      &:hover {
        background-color: blue;
        color: white;
      }

      a {
        display: block;
        width: 100%;
        padding: calc(var(--gap) * 2) calc(var(--gap) * 3);
        color: inherit;
        text-decoration: none !important;
      }
    }
  }
}
