.header {
  padding: calc(var(--gap) * 3);
  color: white;

  a {
    text-decoration: none;
    color: inherit;
  }

  .logo {
    max-width: 50px;
  }
}

.headerTop {
  display: none;
  gap: calc(var(--gap) * 2);
  align-items: center;
}

@media only screen and (min-width: 640px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headerTop {
    display: flex;
  }
}
