header {
  font-size: 1.1rem;

  > section {
    display: flex;
    width: 100%;

    @media only screen and (orientation: landscape) {
      width: unset;
    }
  }

  h1 a {
    padding: var(--gap) calc(var(--gap) * 1.618);
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 5px;

    &:hover {
      border-color: currentColor;
    }
  }

  nav {
    > ul > li {
      display: flex;
      width: 100%;

      a {
        width: 100%;
        padding: 0.1em calc(var(--gap) * 2);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
