.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--gap) * 4);
  padding: calc(var(--gap) * 3);
  flex-direction: column;
  flex-wrap: wrap;
  color: white;

  > section {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .logo {
    max-width: 50px;
  }
}

.headerNav {
  width: 100%;

  ul {
    flex-direction: column;
    align-items: center;

    > li {
      text-align: center;
    }
  }
}

.headerLink {
  text-transform: uppercase;
  padding: var(--gap) calc(2 * var(--gap));
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: calc(var(--gap) * -1);
    left: 0;
    width: 0%;
    border-bottom: 2px solid currentColor;
    transition: width 300ms;
  }

  &:hover::after {
    width: 100%;
  }
}

@media only screen and (min-width: 640px) {
  .header {
    flex-direction: row;

    > section {
      width: unset;

      &:nth-child(2) {
        height: 100%;
      }
    }

    .headerNav > ul {
      flex-direction: row;
    }
  }
}
