header {
  font-size: 1.1rem;

  section {
    display: flex;
  }

  li {
    display: flex;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: grid;
    place-items: center;
  }
}

h1 {
  font-size: 2em;
  text-align: center;
}
