@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
  --bs-primary-rgb: 9, 67, 69;
  --clr-green-light: rgb(23, 112, 75);
  --clr-green-dark: rgb(16, 51, 16);
  --clr-yellow: gold;
  --bg-clr-green: linear-gradient(to right, green, #0b5917);
  --gap: 0.25em;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-family: Montserrat, Lato, 'Noto Sans', Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-flow: column nowrap;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.gap-1 {
  gap: var(--gap);
}

.gap-4 {
  gap: calc(4 * var(--gap));
}

.gap-6 {
  gap: calc(6 * var(--gap));
}

.grid-center {
  display: grid;
  place-items: center;
}

.h-100 {
  height: 100%;
}

.list-style-none {
  list-style: none;
}

.p-1 {
  padding: var(--gap);
}

.p-4 {
  padding: calc(4 * var(--gap));
}

.w-100 {
  width: 100%;
}